<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>



    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../vendor/bootstrap/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!--Bootstrap cdn-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

    <!--font-awesome-->
    <script src="https://kit.fontawesome.com/5f8c8c97ed.js" crossorigin="anonymous"></script>



</head>

<body>

    
    <!-- Footer -->
    <footer class="footer_body">
        <div class="footer_bg">

        <div class="footer_wrap">
            <a href="/"><img src="../img/logo.png" alt="logo"></a>
            <p><strong>인천광역시 서구 검단로 622, 104동 18층 02호(마전동, 하나아파트)</strong><br>
            <small>T.+82 31 424 7221 F.+82 505 282 7222<br>
            www.tget.co.kr
            </small>
            </p>
        </div>
            <ul class="footer_box">
                <li><a href="#">이용안내 |</a></li>
                <li><a href="#"> 이용약관 |</a></li>
                <li><a href="#"> 사업자정보확인 |</a></li>
                <li><a href="#"> 개인정보처리방침</a></li>
            </ul>
       <p class="m-0 text-center" style="color:#888;"><small>Copyright &copy; Your Website 2021</small></p>

        </div>
       <!-- /.container -->
    </footer>



</body>

</html>