<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>



    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../vendor/bootstrap/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!--Bootstrap cdn-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

    <!--font-awesome-->
    <script src="https://kit.fontawesome.com/5f8c8c97ed.js" crossorigin="anonymous"></script>
    <script>
        function menu(genre){
            if(genre == "9"){
                window.location.href="/"
            }else{
                window.location.href="/?genre="+genre;
            }
        }
    </script>


</head>

<body>
    <!-- Navigation header 임시파일-->
    <div class="top">

        <div id="submenu_bar">

            <div class="top-line">
                <div>
                    <h1 class="logo"><a href="/"><img src="../img/logo.png" alt="logo"></a></h1>

                    <!--모바일 버전일때 보이는 버튼-->
                    <span class="logo_menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

                    <div class="serch">
                            <input class="form-control" type="text" placeholder="search" aria-label="Search">
                            <button>
                                <i class="fas fa-search"></i>
                            </button>
                    </div>
                </div>
            </div>
            <!--모바일 화면에서는 보이지 않음-->
            <div class="gnb-box" >
                <nav class="gnb">
                    <ul class="navi">
                        <li><a href="/" style="color:#46c0f7;">HOME</a></li>
                        <li><a href="javascript:menu('0')" style="color:#46c0f7;">공연</a></li>
                        <li><a href="javascript:menu('1')" style="color:#46c0f7;">전시</a></li>
                        <li><a href="javascript:menu('2')" style="color:#7881f6;">스포츠</a></li>
                        <li><a href="/ticket/search" style="color:#7881f6;">티켓 조회</a></li>
                        <%if(!loggedname){%>
                            <li><a href="/login" style="color:#a44af5;">로그인</a></li>
                            <li><a href="/login/signup" style="color:#a44af5;">회원가입</a></li>
                        <%}else{%>
                            <li><a href="/login/mypage" style="color:#a44af5;">마이페이지</a></li>
                            <li><a href="/login/ticket_wallet" style="color:#a44af5;">티켓지갑</a></li>
                            <li><a href="/logout" style="color:#a44af5;">로그아웃</a></li>
                        <%}%>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
        
        
        <script>
            var TopMenu, TopMenuPosition;
            TopMenu = document.getElementById('submenu_bar');
            TopMenuPositon = TopMenu.offsetTop;
            function submenu_bar_fixed() {
                if (window.pageYOffset >= TopMenuPositon) {
                    TopMenu.classList.add("sticky");

                } else {
                    TopMenu.classList.remove("sticky");
                }
            }
            document.addEventListener('scroll', submenu_bar_fixed);
        </script>
        
        
        
        <div id="myNav" class="overlay">
            <div class="overlay-title">
                <a href="/">HOME</a>
                <%if(!loggedname){%>
                    <a href="/login">LOGIN</a>
                <%}else{%>
                    <a href="/logout">LOGOUT</a>
                <%}%>
            </div>
            <div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">close&times;</a>
            <ul class="overlay-content">
                <li><i class="fas fa-headphones-alt"></i><a href="javascript:menu('0')">공연</a></li>
                <li><i class="fas fa-images"></i><a href="javascript:menu('1')">전시</a></li>
                <li><i class="fas fa-running"></i><a href="javascript:menu('2')">스포츠</a></li>
                <li><i class="fab fa-sistrix"></i><a href="/ticket/search">티켓 조회</a></li>
                <%if(loggedname){%>
                    <li><i class="fas fa-ticket-alt"></i><a href="/login/mypage">마이페이지</a></li>
                    <li><i class="fas fa-wallet"></i></i><a href="/login/ticket_wallet">티켓 지갑</a></li>
                <%}else{%>
                    <li><i class="fas fa-ticket-alt"></i><a href="/login/signup">회원가입</a></li>
                <%}%>
            </ul>
            </div>
            <div class="overlay-line">

            </div>
        </div>
        
        
        
        <script>
            function openNav() {
                document.getElementById("myNav").style.width = "60%";
            }

            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>
    



</body>

</html>