<!DOCTYPE html>
<html lang="en">

<head>
</head>
<script>
    function info() {
        console.log("info suc")
        location.href = "/concert/index?concert=" + concert + "&genre=" + genre;
    }
</script>

<body>
    
</body>

</html>