<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="./vendor/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="./vendor/bootstrap/js/qrcode.js"></script>


</head>

<script type="text/javascript">
    
</script>
<body>


    <!-- body(background css) -->
    <div class="body">
        <!-- <form method="POST" action="/qrcode"> -->
            <label>티켓ID</label>
            <input type="text" id="ticketId" name="ticketId" value="d2211a5912a3a0722ae9a55f916bbde5dbcc3701cf3e551ea9aa89d3e7a07447"/ >
            <br>
            
            <label>name</label>
            <input type="text" id="name" name="name" value="문병선"/ >
            <br>
            <label>floor</label>
            <input type="text" id="floor" name="floor" value="1"/ >
            <br>

            <button onclick="makeCode()">qrcode 생성
            </button>
            <div id="img">
            </div>
        <!-- </form> -->
            

    </div>
    <!-- body(background css) -->

    <script>
        function makeCode() {	
            var ticketId = $('#ticketId').val();
            var name = $("#name").val();
            var floor = $("#floor").val();
            img= $('<img>', {
                'src' : '/qrcode?ticketId='+ticketId+'&name='+name+'&floor='+floor,
                'width' : '200px',
                'height' : '200px'
            })
            $('#img *').remove();
            $(img).appendTo('#img');

        }
</script>

</body>

</html>