@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333333;
}

body {
    width: 1200px;

}


a {
    text-decoration: none;
}




/*header 부분 시작*/
header {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background: #eee;
}

h1 {
    float: left;
    width: 180px;
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
}

.gnb {
    width: 500px;
    float: left;
    text-align: center;
    margin-top: 30px;
}

.navi > li {
    float: left;
    width: 20%;
    height: 40px;
    line-height: 40px;
    /*    background:tan;*/

}

/*header 부분 끝*/


/*content 부분 시작*/
.container {
    max-width: 1200px;
    height: auto;
}

.content {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    /*    background:beige;*/
    border: 1px solid #ddd;
}

.content-top {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    border-bottom: 1px solid #aaa;
    padding: 10px;
}

/*포스터 이미지 작업*/
.poster {
    width: 30%;
    height: auto;
    float: left;
    margin-top: 5px;
    text-align: center;
}

.poster img {
    width: 100%;
}

/*공연 상세 정보란*/
.information {
    width: 60%;
    float: left;
    margin-left: 4%;
}

h2 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.information > p {
    width: 100%;
    line-height: 20px;
    margin-bottom: 90px;
}

.infor-txt {
    width: 100%;
}

.infor-txt > li {
    line-height: 40px;
}

.infor-txt > li:nth-child(2n+1) {
    width: 35%;
    float: left;
}

/*공연 선택 제목*/
.select-gnb {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #aaa;
}

.select-gnb li {
    float: left;
    width: 33.33%;
    text-align: center;
    font-weight: bold;
    background-color: #eee;
}

/*공연선택 select 작업*/
.c-bottom {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #aaa;
}

.c-bottom > div {
    float: left;
    width: 33.33%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    /*background:tan;*/
}

/*날짜선택*/
.c-bottom select {
    width: 200px;
    height: 25px;
}

.b-box3 p {
    line-height: 20px;
    margin-top: 35px;
}

/*예매하기 버튼 작업*/
.c-btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.c-btn button {
    width: 20%;
    height: 30px;
}