<!DOCTYPE html>
<html lang="en">

<head>


    <%- include ("../reference/head.ejs") %>

</head>

<body>
    <!-- header gnb -->
    <div class="header">
        <%- include ("../reference/header.ejs") %>
    </div>

    <!-- body(background css) -->
    <div class="body">

        <div class="ticket-search-wrap">
            <h2>티켓 조회하기</h2>
            <form method="POST" action="/ticket/search">
                <div class="ticket-search-bg">
                    <label>티켓ID</label>
                    <input type="text" name="ticketId" required>

                    <button class="button" type="submit">조회하기</button>
                </div>
            </form>
        </div>
        
    </div>
    <!-- /.body(background css) -->

    <!-- Footer -->
    <footer class="footer">
        <%- include ("../reference/footer.ejs") %>
    </footer>

</body>

</html>