<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/blog-post.css" rel="stylesheet">

</head>
<script>
  function index() {
    location.href="/"
  }
</script>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">티켓 예매</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">공연 정보
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/concert/regist">공연 등록</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/ticket">티켓 등록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">로그인</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row" style="margin: 20px 20px 20px 20px;">
      <h3 class="input-group mb-3" style="text-align: center;">티켓 등록</h3>

      <form method="POST" action="/ticket/regist" class="row">
        <table class="table table-striped">
          <tr>
            <td>공연ID</td>
            <td><input type="text" name="concertId"/></td>
          </tr>
          <tr>
            <td>티켓ID</td>
            <td><input type="text" name="ticketId"/></td>
          </tr>
          <tr>
            <td>공연 일시</td>
            <td><input type="number" name="date"/></td>
          </tr>
          <tr>
            <td>공연 시간</td>
            <td><input type="number" name="time"/></td>
          </tr>
          <tr>
            <td>공연 좌석</td>
            <td><input type="text" name="seat"/></td>
          </tr>
          <tr>
            <td>가격</td>
            <td><input type="text" name="price"/></td>
          </tr>
          <tr>
            <td>수수료</td>
            <td><input type="number" name="fee"/></td>
          </tr>
          <tr>
            <td>취소 기한</td>
            <td><input type="text" name="cancleDate"/></td>
          </tr>
          <tr>
            <td>취소 수수료</td>
            <td><input type="text" name="cancleFee"/></td>
          </tr>
          <tr>
          </tr>
        </table>
        <button type="submit">티켓 등록</button>
      </form>
        
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

    <!-- Footer -->
    <footer class="footer">
      <%- include ("../reference/footer.ejs") %>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>