<!DOCTYPE html>

<html>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    function view() {      
        var concertId= $('#concertId').val();
        var ticketId= $('#ticketId').val();
        location.href = "/ticket/view?concertId="+concertId+"&ticketId="+ticketId;
    }
</script>

  <body>

    <form method="POST" action="/ticket/regist">
        <h2>티켓 등록</h2>
        <table>
            <tr>
                <td>공연ID</td>
                <td><input type="text" name="concertId"/></td>
            </tr>
            <tr>
                <td>티켓ID</td>
                <td><input type="text" name="ticketId"/></td>
            </tr>
            <tr>
                <td>date</td>
                <td><input type="text" name="date"/></td>
            </tr>
            <tr>
                <td>time</td>
                <td><input type="text" name="time"/></td>
            </tr>
            <tr>
                <td>seatClass</td>
                <td><input type="text" name="seatClass"/></td>
            </tr>
            <tr>
                <td>seatArea</td>
                <td><input type="text" name="seatArea"/></td>
            </tr>
            <tr>
                <td>seatNumber</td>
                <td><input type="text" name="seatNumber"/></td>
            </tr>
            <tr>
                <td>discount</td>
                <td><input type="text" name="discount" value="false"/></td>
            </tr>
            <tr>
                <td>price</td>
                <td><input type="number" name="price" value="false"/></td>
            </tr>
            <tr>
                <td>discountRate</td>
                <td><input type="number" name="discountRate" value="0"/></td>
            </tr>
            <tr>
                <td>fee</td>
                <td><input type="number" name="fee"/></td>
            </tr>
            <tr>
                <td>cancleDate</td>
                <td><input type="text" name="cancleDate"/></td>
            </tr>
            <tr>
                <td>cancleFee</td>
                <td><input type="text" name="cancleFee"/></td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <button type="submit">티켓 등록</button>
                </td>
                <td style="text-align: center;">
                </td>
            </tr>
        </table>
    </form>

    <form method="POST" action="/ticket/update">
        <h2>티켓 변경</h2>
        <table>
            <tr>
                <td>공연ID</td>
                <td><input type="number" name="concertId"/></td>
            </tr>
            <tr>
                <td>티켓ID</td>
                <td><input type="number" name="ticketId"/></td>
            </tr>
            <tr>
                <td>date</td>
                <td><input type="text" name="date"/></td>
            </tr>
            <tr>
                <td>time</td>
                <td><input type="text" name="time"/></td>
            </tr>
            <tr>
                <td>seatClass</td>
                <td><input type="text" name="seatClass"/></td>
            </tr>
            <tr>
                <td>seatArea</td>
                <td><input type="text" name="seatArea"/></td>
            </tr>
            <tr>
                <td>seatNumber</td>
                <td><input type="text" name="seatNumber"/></td>
            </tr>
            <tr>
                <td>discount</td>
                <td><input type="text" name="discount" value="false"/></td>
            </tr>
            <tr>
                <td>price</td>
                <td><input type="number" name="price" value="false"/></td>
            </tr>
            <tr>
                <td>discountRate</td>
                <td><input type="number" name="discountRate" value="0"/></td>
            </tr>
            <tr>
                <td>fee</td>
                <td><input type="number" name="fee"/></td>
            </tr>
            <tr>
                <td>cancleDate</td>
                <td><input type="text" name="cancleDate"/></td>
            </tr>
            <tr>
                <td>cancleFee</td>
                <td><input type="text" name="cancleFee"/></td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <button type="submit">티켓 변경</button>
                </td>
                <td style="text-align: center;">
                </td>
            </tr>
        </table>
    </form>
    
    <form method="POST" action="/ticket/transfer">
        <h2>티켓 소유권 이전</h2>
        공연ID<input type="number" name="concertId_t" value="0"/>
        티켓ID<input type="number" name="ticketId_t" value="0"/>
        Trnfsfer ID<input type="text" name="transferId"/>
        <button type="submit">티켓 소유권 이전</button>
    </form>

    <h2>티켓 조회</h2>
    공연ID<input type="number" id="concertId" value="0"/>
    티켓ID<input type="number" id="ticketId" value="0"/>
    <button onclick="view()">티켓 조회</button>



  </body>
</html>
