<!DOCTYPE html>
<html lang="en">

<head>


    <%- include ("../reference/head.ejs") %>

</head>

<body>

    <!-- header gnb -->
    <div class="header">
        <%- include ("../reference/header.ejs") %>
    </div>

    <!-- body(background css) -->
    <div class="body">

        <div class="login_wrap card align-middle">

            <div class="card-title" style="padding-top:30px;">
                <h2 class="text-center">LOGIN</h2>
            </div>

            <div class="card-body">
                <form class="form-signin" method="POST" onSubmit="logincall();return false" action="/login/main">
                    <label for="inputEmail" class="sr-only">Your ID</label>
                    <input type="text" id="uid" class="form-control" placeholder="Your ID" name="id" required
                        autofocus><br>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="upw" class="form-control" placeholder="Password" name="pass"
                        required><br>
                    <!-- check == 1인 경우는 로그인에 실패하는 경우 메시지 창 display -->
                    <%if(check == 1){%>
                    <div class="alert alert-danger" id="alert-danger">아이디나 비밀번호가 맞지 않습니다.</div>
                    <%}%>
                    <%if(did == 1){%>
                        <div class="alert alert-danger" id="alert-danger">DID 인증 정보와 로그인한 회원님의 정보가 일치하지 않습니다.</div>
                        <%}%>
                    <!-- <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> 자동로그인
                        </label>
                    </div> -->
                    <!-- form 형식으로 submit을 통해 /login/main으로 이동 -->
                    <button id="btn-Yes" class="btn btn-lg btn-block" type="submit">로 그 인</button>


                    <nav class="nav nav-justified login-link">
                        <!-- <a class="nav-link" href="/login/find">아이디/비밀번호찾기</a> -->
                        <a class="nav-link" href="/login/signup">회원가입</a>
                    </nav>

                    <div class="sns-body">
                        <p>소셜로그인</p>
                        <!-- 카카오 로그인 -->
                        <a href="/login/kakao"><img src="img/k.png" alt="img"></a>
                        <!-- 구글 로그인(구현예정) -->
                        <a href="#"><img src="img/g.png" alt="img"></a>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.login_wrap -->
        
    </div>
    <!-- /.body(background css) -->

    <!-- Footer -->
    <footer class="footer">
        <%- include ("../reference/footer.ejs") %>
    </footer>

</body>

</html>